@font-face {
    font-family: kyokasho;
    src: url("_kyokasho.ttc");
}

.card {
    font-family: Arial, sans-serif;
    font-size: 14pt;
    text-align: center;
    color: black;
    background-color: white;
}

.card.nightMode hr {
    border-color: gray;
}

.enlace {
    font-family: kyokasho, YuKyokasho, Mincho, cursive;
    text-decoration: none;
    font-size: 500%;
    color: #3F638B;
}

.trazos {
    font-family: kyokasho, YuKyokasho, Mincho, cursive;
}

.card.nightMode .enlace {
    color: #FFCC00;
}

p {
    margin: 0;
}

.traduccion {
    margin-top: 1em;
}

#oculto {
    display: none;
}

#enlace {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.bloque {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column-reverse;
}

.letra {
    font-size: 100%;
}

.furigana {
    font-size: 50%;
}

table {
    margin: 0 auto;
    width: 90%;
    border-collapse: collapse;
}

tr {
}

th {
    font-family: kyokasho, YuKyokasho, Mincho, cursive;
    font-weight: normal;
    border: 1px solid black;
    font-size: 150%;
}

td {
    border: 1px solid black;
}

.kyokasho {
    font-family: kyokasho, YuKyokasho, Mincho, cursive;
}

.furiganable {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.card.nightMode th {
    color: #FFCC00;
    border: 1px solid gray;
}

.card.nightMode td {
    border: 1px solid gray;
}

.numero {
    margin: 0 auto;
    font-size: 80%;
    font-weight: bold;
    color: white;
    background-color: #3F638B;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50px;
}

.card.nightMode .numero {
    color: black;
    background-color: #FFCC00;
}

@media screen and (max-width: 576px) {
    tr {
        display: flex;
        flex-wrap: wrap;
    }

    th, td {
        width: 100%;
    }

    th {
        border-bottom: none;
    }

    td {
        margin-bottom: 0.5em;
    }
}
