@font-face {
    font-family: kyokasho;
    src: url("_kyokasho.ttc");
}

.card {
    font-family: Arial, sans-serif;
    font-size: 14pt;
    text-align: center;
    color: black;
    background-color: white;
}

hr {
    border: 0.5px solid black;
    background-color: black;
}

.card.nightMode hr {
    border: 0.5px solid gray;
    background-color: gray;
}

h5 {
    color: black;
}

.card.nightMode h5 {
    color: gray;
}

a {
    text-decoration: none;
}

.kyokasho {
    font-family: kyokasho, YuKyokasho, Mincho, cursive;
    color: #3F638B;
}

.card.nightMode .kyokasho {
    color: #FFCC00;
}

.grande {
    font-size: 500%;
}

.mediano {
    font-size: 175%;
}

.pequenyo {
    font-size: 125%;
}

.mobile .grande {
    font-size: 900%;
}

.mobile .mediano {
    font-size: 300%;
}

.mobile .pequenyo {
    font-size: 150%;
}

.w-50 {
    width: 50%;
}

.furiganable {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.bloque {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column-reverse;
}

.letra {
    font-size: 100%;
}

.furigana {
    font-size: 40%;
}

.centrado {
    text-align: center;
}

.trazos {
    font-family: kyokasho, YuKyokasho, Mincho, cursive;
}

.mobile .num_trazos {
    display: none;
}

.mobile .trazos {
    display: none;
}

.diagrama {
    display: none;
}

.mobile .diagrama {
    display: block;
    width: 50%;
    margin: 0 auto;
}

p {
    margin: 0;
}

.mt-1 {
    margin-top: 1rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

table {
    margin: 0 auto;
    width: 90%;
    border-collapse: collapse;
}

th {
    font-weight: normal;
    border: 1px solid black;
}

.card.nightMode th {
    border: 1px solid gray;
}

td {
    border: 1px solid black;
}

.card.nightMode td {
    border: 1px solid gray;
}

.numero {
    margin: 0 auto;
    font-size: 80%;
    font-weight: bold;
    color: white;
    background-color: #3F638B;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50px;
}

.card.nightMode .numero {
    color: black;
    background-color: #FFCC00;
}

@media screen and (max-width: 576px) {
    tr {
        display: flex;
        flex-wrap: wrap;
    }

    th, td {
        width: 100%;
    }

    th, .card.nightMode th {
        border-top: none;
        border-bottom: none;
        padding-top: 0.5em;
    }

    tr:first-child th {
        border-top: 1px solid black;
    }

    .card.nightMode tr:first-child th {
        border-top: 1px solid gray;
    }

    td, .card.nightMode td {
        border-top: none;
        padding-bottom: 0.75em;
    }
}

@media screen and (min-width: 576px) {
    th, .card.nightMode th {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
}
